# Chapter 3 Lab

#### note: run the SQL lab responses in pgAdmin after setting up the Pagila database locally

## SQL

1. Prompting Technique: Chain-of-Thought Prompting
Write a query to return the average number of rentals per customer, excluding customers who have never rented anything. Ask the AI to think through the problem step by step before producing the SQL.

Prompt:
 “Using the Pagila dataset, calculate the average number of rentals per customer, but exclude customers who have never rented anything. Think through the problem step by step before writing the SQL.”

Response:
“To solve this, we need to count how many rentals each customer has made. We'll start with the customer table and join it to the rental table using customer_id. This will automatically exclude customers who have never rented anything, because they won’t appear in the rental table. After grouping by customer_id, we can count the number of rentals per customer, and then take the average of those counts.

```
SELECT AVG(rental_count) AS avg_rentals_per_customer
FROM (
  SELECT c.customer_id, COUNT(r.rental_id) AS rental_count
  FROM customer c
  JOIN rental r ON c.customer_id = r.customer_id
  GROUP BY c.customer_id
) AS sub;”
```

2. Prompting Technique: Few-Shot Prompting
Refer back to the examples in this chapter that generate report-style queries using CTEs. Then ask ChatGPT to generate a similar report: the top five categories by total revenue. Be sure to include example formatting or logic before asking your final question.

Prompt:
 “Using the Pagila dataset, and following the same CTE format used in earlier report-style queries, write a report that returns the top five film categories by total revenue.”
 
Possible SQL:

```
WITH category_revenue AS (
  SELECT c.name AS category, SUM(p.amount) AS revenue
  FROM payment p
  JOIN rental r ON p.rental_id = r.rental_id
  JOIN inventory i ON r.inventory_id = i.inventory_id
  JOIN film f ON i.film_id = f.film_id
  JOIN film_category fc ON f.film_id = fc.film_id
  JOIN category c ON fc.category_id = c.category_id
  GROUP BY c.name
)
SELECT category, revenue
FROM category_revenue
ORDER BY revenue DESC
LIMIT 5;

```

3.  Prompting Technique: Self-Consistency Prompting
Ask ChatGPT to return a list of the top five films with the longest average rental durations. Then request an alternative approach to solving the same problem and compare the two results. Confirm both queries return the same films, even if the syntax is different.

Prompt:
 “Using the Pagila dataset, list the top five films with the longest average rental durations. Provide two different approaches to solving the problem and compare them.”
 
Possible SQL (Approach 1):
```
SELECT f.title, AVG(r.return_date - r.rental_date) AS avg_duration
FROM rental r
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f ON i.film_id = f.film_id
GROUP BY f.title
ORDER BY avg_duration DESC
LIMIT 5;
```

Possible SQL (Approach 2 - with CTE):

```
WITH rental_durations AS (
  SELECT f.film_id, f.title, (r.return_date - r.rental_date) AS duration
  FROM rental r
  JOIN inventory i ON r.inventory_id = i.inventory_id
  JOIN film f ON i.film_id = f.film_id
)
SELECT title, AVG(duration) AS avg_duration
FROM rental_durations
GROUP BY title
ORDER BY avg_duration DESC
LIMIT 5;
```